body {margin: 0; font-family: sans-serif;}

.header {margin: 10px; color : white ; background: black; height: 90px;}

.logo {float: left;}

.navbar {float: right;}

.navbar ul{list-style: none; padding-top: 20px;}

.navbar ul li{display: inline; margin: 10px;}

.navbar ul li a{text-decoration: none; color: white; }

.navbar ul li a:hover {border-bottom: 2px solid white;}

.ss {text-align: center; color: white; background: black; margin: 50px;}

.gambar {width: 90%; display: grid; grid-template-columns: 1fr 1fr 1fr; margin:auto;}

.gambar .foto img{width: 200px;}

.foto {border: 1px solid black; margin:10px; text-align: center; }

.foto a{border: 1px solid red; padding:10px; color: white; background: black; text-decoration: none; border-radius: 20px; cursor: pointer;}

.footer {text-align: left; font-size: 25px; margin: 20px; color: white; background: black; height: 150px;}

.footer p{padding-top:20px;}

.footer a{text-decoration: none; color: white; }

.aaa {font-weight: 400; font-size: 14px; line-height: 18px;}

.ddd {text-align: center; font-weight: 400; font-size: 30px; line-height: 25px; background: black; height: 80px;}

.bbb {text-align: center; color: white; background: black; margin: 50px; font-size: 70px;}

.gambar1 {width: 90%; display: grid; grid-template-columns: 1fr 1fr 1fr; margin:auto;}

.gambar1 .foto1 img{width: 200px;}

.gambar1 .foto2 img{width: 200px;}

.gambar1 .foto3 img{width: 200px;}

.gambar1 .foto4 img{width: 200px;}

.gambar1 .foto5 img{width: 200px;}

.foto1 {border: 1px solid black; margin:10px; text-align: center; }

.foto2 {border: 1px solid black; margin:10px; text-align: center; }

.foto3 {border: 1px solid black; margin:10px; text-align: center; }

.foto4 {border: 1px solid black; margin:10px; text-align: center; }

.foto5 {border: 1px solid black; margin:10px; text-align: center; }

.ccc {text-align: center; font-size: 30px; margin: 20px; color: white; background: black; height: 60px;}